<?xml version="1.0"?>
<launch>
  <arg name="launch_control_trajectory_all" default="true"/>
  
  <!-- Load the URDF Model -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pepper_table_cube)/worlds/pepper_table_cube.world"/>
    <arg name="paused" value="true"/>
  </include>

  <include file="$(find my_pepper_description)/launch/pepper_upload.launch" />  

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find my_pepper_gazebo_plugin)/config/pepper_gazebo_controller.yaml" command="load"/>

  <!-- Call Pepper Robot Trajectory Controller -->

  <include file="$(find my_pepper_control)/launch/pepper_control_trajectory.launch" unless="$(arg launch_control_trajectory_all)"/>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description -urdf -x -0.1 -y 0 -z 0.835 -model pepper" />
  
  <!-- Load joint_states -->
  <include file="$(find my_pepper_control)/launch/pepper_control.launch"/>

  <!-- Show image data -->
  <node name="img_proc" pkg="pepper_table_cube" type="get_image.py"/>

  <!-- Move Pepper with action -->
  <!-- <node name="action_pepper_moveit" pkg="pepper_table_cube" type="action_pepper_move.py"/> -->
</launch>
